#heading {
    color: orange;
    font-style: italic;
    background-color: yellow;
}

.heading-class {
    color: rgb(227, 71, 180);
    font-style: italic;
}


body {
    background-color: aquamarine;
}

button {
    background-color: bisque;
    color: red;
}